@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@import url("https://fonts.googleapis.com/css?family=VT323");

.App {
  text-align: center;
  font-family: "press Start 2P", "VT323";
  color: white;
}

input{
  color: black !important;
  width: 70px;
  text-align: center;
}
* {
  box-sizing: border-box;
}

body{
  overflow: hidden;
}



.live-background {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./assets/background/bg.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 40% 40%;
}